body {
    background: #f7f7ff url() repeat fixed top left;
    background-color: #f7f7ff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #656565;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}