body {
  background: #fff url() repeat fixed top left;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #656565;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
main {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
}
footer {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #1f2024;
  border-top: 2px solid #ebebf3;
  bottom: 0;
  padding: 1%;
}
  textarea {
    resize: none;
  }
<