{% extends "base.html"%} {% block content %}
<article class="media content-section">
  <div class="media-body">
    <h2 class="post_title">{{post.title}}</h2>
    <div class="article-metadata">
      <p class="mr-2" href="#">
        writer:{{ post.author }} on {{ post.date_posted |date:"F d Y" }}
      </p>
    </div>
    <p class="article-content">{{ post.content |safe }}</p>
  </div>
  <div id="author-info">
    <img src="{{img}}" />
    <div id="author-bio">
      <div id="author-name">{{author}}</div>
      <div id="author-desc">random text about the author</div>
    </div>
  </div>
  <legend>Comments</legend>
  <form method="POST" class="card py-2">
    <legend>Leave a comment</legend>
    {% csrf_token %} Name:
    <input name="name" type="text" class="form-control" />
    Email:
    <input name="email" type="text" class="form-control" />
    Comment:
    <textarea name="body" class="form-control"></textarea><br />
    <button class="btn btn-secondary" type="submit">submit</button>
  </form>
  {% if not comments %}
  <legend>No comments</legend>
  {% else %} {% endif %} {% for comment in comments %}
  <div class="comment">
    <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.user }}</h5>
    {{comment.date_posted|date:"F d, Y" }}
    <p>{{ comment.content }}</p>
  </div>
  {% endfor %}
</article>
<style>
  article.media.content-section {
    display: flow-root;
  }
  .media-body img {
    width: 100% !important;
  }
  #author-name {
    color: #343a40;
    font-weight: bold;
  }
  div#author-info {
    display: flex;
  }
  div#author-info {
    display: flex;
    margin-bottom: 2%;
    width: 100%;
    padding: 1%;
  }
  div#author-info img {
    margin-right: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  legend {
    margin-top: 2%;
  }
  form.card.py-2 {
    padding: 2%;
    line-height: 2;
  }
  textarea.form-control {
    height: 150px;
  }
  .comment {
    padding: 2%;
    margin-top: 2%;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  h5.h5.g-color-gray-dark-v1.mb-0 {
    font-weight: bold;
  }
</style>
{% endblock %}
