{% extends "base.html"%} {% block content %}
<article class="media content-section">
  <div class="media-body">
    <h2 class="post_title">{{post.title}}</h2>
    <div class="article-metadata">
      <p class="mr-2" href="#">
        writer:{{ post.author }} on {{ post.date_posted |date:"F d Y" }}
      </p>
    </div>
    <p class="article-content">{{ post.content }}</p>
  </div>
  <div id="author-info">
    <div id="author-name">{{author}}</div>
    <div id="author-desc">random text about the author</div>
  </div>
</article>
<style>
  article.media.content-section {
    display: flow-root;
  }
  #author-name {
    color: #343a40;
    font-weight: bold;
  }
</style>
{% endblock %}
